In [1]:
import pandas as pd

In [2]:
muni_df = pd.read_csv(r'M:\Data\OnBoard\Data and Reports\Muni\As CSV\MUNI_DRAFTFINAL_20171114 NO POUND OR SINGLE QUOTE.csv')

C:\Users\ywang\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (0,8,13,14,15,19,20,21,25,26,31,32,33,34,38,41,42,43,44,45,47,52,53,54,55,59,62,63,64,65,66,67,68,69,74,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,115,117,118,119,120,121,123,128,143,145,147,149,157,159,161,163,164,169,170,171,172,174,176,178,192,193,194,202,204,206,208,210,213,215,216,217,218,219,221,224,225,226,228,229,230,231,232,233,238) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# find out and inspect survey responses with more than 3 transfers before or after the surveyed route

display(muni_df.number_transfers_orig_board.value_counts())
display(muni_df.number_transfers_alight_dest.value_counts())

muni_df_modify = muni_df.loc[muni_df.number_transfers_alight_dest == 4][[
    'final_trip_first_route', 'final_trip_second_route', 'final_trip_third_route',
    'number_transfers_orig_board',
    'final_trip_to_first_route', 'final_trip_to_second_route', 'final_trip_to_third_route', 'final_trip_to_fourth_route',
    'number_transfers_alight_dest']]

display(muni_df_modify)

# change "number_transfers_alight_dest" from 4 to 3 and keep the initial transfer routes
muni_df.loc[muni_df.number_transfers_alight_dest == 4, 'number_transfers_alight_dest'] = 3

display(muni_df.number_transfers_orig_board.value_counts())
display(muni_df.number_transfers_alight_dest.value_counts())

# export the new file
muni_df.to_csv(r'M:\Data\OnBoard\Data and Reports\Muni\As CSV\MUNI_DRAFTFINAL_20171114_fixedTransferNum_NO POUND OR SINGLE QUOTE.csv', index=False)

0                         39645
1                          5020
0                          2860
2                           380
1                           369
Missing - Dummy Record       27
2                            21
3                            11
3                             1
Name: number_transfers_orig_board, dtype: int64

0                         39025
1                          5619
0                          2773
1                           455
2                           388
Missing - Dummy Record       27
2                            23
3                            22
4                             2
Name: number_transfers_alight_dest, dtype: int64

,final_trip_first_route,final_trip_second_route,final_trip_third_route,number_transfers_orig_board,final_trip_to_first_route,final_trip_to_second_route,final_trip_to_third_route,final_trip_to_fourth_route,number_transfers_alight_dest
25954,NaN,NaN,NaN,0,MUNI 14R-Mission Rapid,Golden Gate Ferry Larkspur Ferry,Marin 228 College of Marin/Indian Valley Campus,Golden Gate 29 San Rafael - Larkspur Landing -...,4
31362,NaN,NaN,NaN,0,MUNI 8-Bayshore,MUNI 14R-Mission Rapid,SamTrans ECR Palo Alto - Daly City,SamTrans 250 Downtown San Mateo College of San...,4

0                         39645
1                          5020
0                          2860
2                           380
1                           369
Missing - Dummy Record       27
2                            21
3                            11
3                             1
Name: number_transfers_orig_board, dtype: int64

0                         39025
1                          5619
0                          2773
1                           455
2                           388
Missing - Dummy Record       27
3                            24
2                            23
Name: number_transfers_alight_dest, dtype: int64

In [4]:
actransit_df = pd.read_csv(r'M:\Data\OnBoard\Data and Reports\AC Transit\2018\OD_20180703_ACTransit_DraftFinal_Income_Imputation (EasyPassRecode) NO POUND OR SINGLE QUOTE.csv')

C:\Users\ywang\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (15,18,19,20,26,28,31,33,53,60,65,68,74,75,78,136,143,148,151,153,157,158,159,161,162,163,164,165,169,170,190,200,201,202,209,217,224,225,233,241,245,246,249,253,254,273,281,289,294,297,302,309,310,317,318,326,334,361,366,369,390,410,411,412,419,421,424,430,437,474,476,477) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
# find out and inspect survey responses with more than 3 transfers before or after the surveyed route

display(actransit_df.number_transfers_orig_board.value_counts())
display(actransit_df.number_transfers_alight_dest.value_counts())

actransit_df_modify = actransit_df.loc[actransit_df.number_transfers_alight_dest == 4][[
    'final_trip_first_route', 'final_trip_second_route', 'final_trip_third_route',
    'number_transfers_orig_board',
    'final_trip_to_first_route', 'final_trip_to_second_route', 'final_trip_to_third_route', 'final_trip_to_fourth_route',
    'number_transfers_alight_dest']]

display(actransit_df_modify)

# change "number_transfers_alight_dest" from 4 to 3 and keep the initial transfer routes
actransit_df.loc[actransit_df.number_transfers_alight_dest == 4, 'number_transfers_alight_dest'] = 3

display(actransit_df.number_transfers_orig_board.value_counts())
display(actransit_df.number_transfers_alight_dest.value_counts())

0    12173
1     2205
2      285
3       15
Name: number_transfers_orig_board, dtype: int64

0    12162
1     2280
2      231
3        4
4        1
Name: number_transfers_alight_dest, dtype: int64

,final_trip_first_route,final_trip_second_route,final_trip_third_route,number_transfers_orig_board,final_trip_to_first_route,final_trip_to_second_route,final_trip_to_third_route,final_trip_to_fourth_route,number_transfers_alight_dest
958,NaN,NaN,NaN,0,BART,VTA 181 Express,VTA 901 Light Rail,VTA 10 Airport Service,4

0    12173
1     2205
2      285
3       15
Name: number_transfers_orig_board, dtype: int64

0    12162
1     2280
2      231
3        5
Name: number_transfers_alight_dest, dtype: int64

In [6]:
# export the new file
actransit_df.to_csv(r'M:\Data\OnBoard\Data and Reports\AC Transit\2018\OD_20180703_ACTransit_DraftFinal_Income_Imputation (EasyPassRecode)_fixTransfers_NO POUND OR SINGLE QUOTE.csv',
                    index=False)